# Local Hardhat & Blockchain Network Configuration
HARDHAT_NETWORK=localhost
HARDHAT_CHAIN_ID=31337
LOCAL_RPC_URL=http://127.0.0.1:8545

# Deployed Contract Addresses
CONTRACT_ADDRESS=0x5FbDB2315678afecb367f032d93F642f64180aa3

# Backend Service Configuration
PORT=4000
NODE_ENV=development
JWT_SECRET=capstone_esports_jwt_secret_key_2026

# IPFS Pinning Service Configuration (Pinata / Local IPFS)
IPFS_GATEWAY=https://ipfs.io/ipfs/
PINATA_API_KEY=your_pinata_api_key_here
PINATA_SECRET_API_KEY=your_pinata_secret_api_key_here

# Oracle Service Configuration
ORACLE_PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80
ORACLE_ADDRESS=0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266
